<!-- tu_app/templates/tu_app/mostrar_tabla.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Mostrar Tabla</title>
</head>
<body>

    <h1>Información de Tablas y Contenido</h1>

    {% for tabla in tablas %}
        <h2>{{ tabla.nombre_tabla }}</h2>
        {% if tabla.contenido_tabla %}
            <table>
                <thead>
                    <tr>
                        {% for columna, valor in tabla.contenido_tabla.0.items %}
                            <th>{{ columna }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for fila in tabla.contenido_tabla %}
                        <tr>
                            {% for columna, valor in fila.items %}
                                <td>{{ valor }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay contenido disponible para esta tabla.</p>
        {% endif %}
    {% endfor %}

</body>
</html>
