@tailwind base;
@tailwind components;
@tailwind utilities;

@layer html {
    @font-face {
        font-family: 'CyberwayRiders';
        src: url('/fonts/CyberwayRiders.ttf') format('truetype');
    }
    body {
        font-family: 'CyberwayRiders', sans-serif;
    }
}

@layer components {
    #screen-container {
        @apply flex
        h-screen
        bg-cover bg-lightFHD dark:bg-darkFHD
    }
}