@tailwind base;
@tailwind components;
@tailwind utilities;

@layer html {
    @font-face {
        font-family: 'CyberwayRiders';
        src: url('/fonts/CyberwayRiders.ttf') format('truetype');
    }
    body {
        font-family: 'CyberwayRiders', sans-serif;
    }
}

@layer components {
    #screen-container {
        @apply flex
        h-screen
        bg-cover bg-lightFHD dark:bg-darkFHD
    }

    #main-title {
        @apply absolute
        text-[10vw]
        left-1/2 -translate-x-1/2
        self-center
        drop-shadow-neonpink-s 
        before:content-['CyberPong'] before:absolute before:left-[51%] before:-translate-x-1/2 before:drop-shadow-neonblue-s
        after:content-['CyberPong'] after:absolute after:left-1/2 after:-translate-x-1/2 after:drop-shadow-neongreen-s
        animate-fade-in-out
    }

    .primary-menu {
        @apply flex flex-col
        justify-center items-center
        border-4 rounded-full border-double border-neongreen dark:border-neonpink /* Border color */
        desktop:min-h-[300px] desktop:min-w-[300px] desktop:max-h-[550px] desktop:max-w-[550px]
        bg-gradient-to-br from-neongreen via-neonblue dark:from-neonred dark:via-neonpink via-30% /* Gradients and colors */
    }

    .primary-button {
        @apply text-center
        portrait:text-primaryp
        landscape:text-primaryl;
    }

    .secondary-button {
        @apply text-center
        portrait:text-secodaryp
        landscape:text-secodaryl;
    }
}