@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .trans-bg-image {
        background-size: cover;
        background-image: radial-gradient(circle, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 60%, rgba(0, 0, 0, 0.5) 100%), url(./src/lib/transcendence-bg-test.gif);
    }
    html {
        font-family: 'Orbitron', sans-serif;
    }
}
